<app-encabezado titulo="Alumnos"></app-encabezado>

<ion-content class="ion-padding" id="main-contente">
  <ion-list [inset]="true" lines="inset" mode="ios" class="scrollable-list">
    <ion-list-header mode="ios" color="tertiary" class="ion-text-center">
      <ion-label>Lista de Alumnos</ion-label>
    </ion-list-header>

    <ion-item *ngFor="let alumno of estudiantes | async">
      <ion-icon name="person" slot="start"></ion-icon> <!-- Icono por defecto -->
      <ion-label>{{ alumno.name }} {{ alumno.lastname }}</ion-label> <!-- Mostrar nombre y apellido -->
      <ion-label> asistencias %</ion-label> <!-- Mostrar cantidad de asistencias -->
    </ion-item>
  </ion-list>

  <div class="ion-padding">
    <ion-button (click)="goBack()" class="ion-padding" color="tertiary" shape="round" expand="block">Volver</ion-button>
  </div>
</ion-content>