<app-encabezado titulo="Profesor"></app-encabezado>

  <ion-content class="ion-padding">





    <ion-list [inset]="true" lines="inset" mode="ios" class="scrollable-list">
      <ion-list-header mode="ios" color="tertiary" class="ion-text-center">
        <ion-label>Lista de asignaturas</ion-label>
      </ion-list-header>
  
      <ion-accordion-group>
        <ion-accordion *ngFor="let asignatura of asignaturas">
          <ion-item slot="header">
            <ion-icon name="{{asignatura.icono}}" slot="start"></ion-icon>
            <ion-label>{{asignatura.etiqueta}}</ion-label>
          </ion-item>
          <div class="ion-padding" slot="content">
            <ion-list>
              <ion-item *ngFor="let seccion of asignatura.secciones" button [routerLink]="[asignatura.ruta]">
                <ion-label>{{seccion}}</ion-label>
              </ion-item>
            </ion-list>
          </div>
        </ion-accordion>
      </ion-accordion-group>
    </ion-list>



  </ion-content>
