<app-encabezado titulo="Recuperar contraseña"></app-encabezado>

<ion-content class="ion-padding">
  <ion-text color="primary" class="ion-text-center">
    <h1>Recuperar contraseña</h1>
  </ion-text>

  <form #miForm="ngForm" (ngSubmit)="olvidada()">
    <ion-item>
      <ion-label position="floating">Correo</ion-label>
      <ion-input type="email" required placeholder=""></ion-input>
    </ion-item>
    <ion-button expand="block" type="submit" fill="solid" color="tertiary" [disabled]="miForm.invalid">
      Recuperar contraseña
    </ion-button>
  </form>
</ion-content>