<app-encabezado titulo="Perfil"></app-encabezado>
<ion-content class="ion-padding">
  <ion-list>
    <ion-item>
      <ion-label>
        <strong>Nombre completo:</strong>
      </ion-label>
      <ion-text>
        Andrés Felipe Vallejos Aburto 
      </ion-text>
    </ion-item>

    <ion-item>
      <ion-label>
        <strong>RUT:</strong>
      </ion-label>
      <ion-text>
        13333333-3
      </ion-text>
    </ion-item>

    <ion-item>
      <ion-label>
        <strong>Correo electrónico:</strong>
      </ion-label>
      <ion-text>
        f.aburto&#64;duoc.cl
      </ion-text>
    </ion-item>

    <ion-item>
      <ion-label>
        <strong>Area:</strong>
      </ion-label>
      <ion-text>
        Informática y Telecomunicaciones
      </ion-text>
    </ion-item>
  </ion-list>

  <ion-button (click)="cambio()" class="ion-padding" color="tertiary" shape="round" expand="block">
    Cambiar contraseña
  </ion-button>


</ion-content>