<app-encabezado titulo=""></app-encabezado>

<ion-content class="ion-padding">

  <ion-list>
    <ion-list>
      <ion-item>
        <ion-input label="Nombre de la asignatura" labelPlacement="floating" value="Matematica aplicada"></ion-input>
      </ion-item>

      <ion-item>
        <ion-select value="2">
          <div slot="label">Profesor <ion-text color="danger">(Requerido)</ion-text></div>
          <ion-select-option value="1">profesor 1</ion-select-option>
          <ion-select-option value="2">profesor 2</ion-select-option>
          <ion-select-option value="3">profesor 3</ion-select-option>
        </ion-select>
      </ion-item>

      <ion-item>
        <ion-input label="Seccion" type="number" labelPlacement="floating" value="002"></ion-input>
      </ion-item>
  
      <ion-item>
        <ion-input label="Cantidad de alumnos" labelPlacement="floating" type="number" value="30"></ion-input>
      </ion-item>
    </ion-list>
  </ion-list>
  

  <ion-button (click)="Guardar()" class="ion-padding" color="tertiary" shape="round" expand="block">Guardar</ion-button>
  <ion-button (click)="goBack()" class="ion-padding" color="tertiary" shape="round" expand="block">Cancelar</ion-button>

</ion-content>
