<app-encabezado titulo=""></app-encabezado>

<ion-content class="ion-padding">
  <ion-item>
    <ion-label>
      <h1>Matematica</h1>
      <p>Profesor: xxxxxxx-xxxxxx</p>
    </ion-label>
  </ion-item>
  <ion-item>
    <ion-label>
      <h1>Detalle</h1>
      <p>Seccion: xxx-x</p>
      <p>Alumnos: xx</p>
    </ion-label>
  </ion-item>


  <ion-button (click)="Editar()" class="ion-padding" color="warning" shape="round" expand="block">Editar</ion-button>
  <ion-button (click)="Deshabilitar()" class="ion-padding" color="danger" shape="round" expand="block">Deshabilitar</ion-button>

</ion-content>
