<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button color="tertiary" defaultHref="lanzamiento" text="Volver" mode="ios"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
<ion-text color="tertiary" class="ion-text-center">
  <h1>Inicio de sesion</h1>
</ion-text>
<ion-list>
  <form #miForm="ngForm" (ngSubmit)="iniciarSesion()">
    <ion-item>
      <ion-input label="Usuario" type="text" required labelPlacement="floating" name="usr.username" [(ngModel)]="usr.username" placeholder="Ingrese usuario"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input label="Password" type="password" required labelPlacement="floating" name="usr.password" [(ngModel)]="usr.password" placeholder="passsword"></ion-input>
    </ion-item>

      <ion-button expand="block" class="ion-padding" (click)="iniciarSesion()" fill="solid" color="tertiary" [disabled]="miForm.invalid" >
        Iniciar Sesión
      </ion-button>
      <ion-button class="ion-padding" (click)="recuperar()" color="tertiary" expand="full" fill="outline">
        <ion-icon slot="start" name="mail"></ion-icon>
        Recuperar contraseña
      </ion-button>
      <!-- <ion-text color="tertiary">
        <h1>Formulario invalido:{{miForm.valid}}</h1>
      </ion-text> -->
  </form>



</ion-list>

<!-- <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
  <ion-item>
    <ion-label position="floating">E-Mail <ion-text color="danger">*</ion-text></ion-label>
    <ion-input required formControlName="email" type="text"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Password <ion-text color="danger">*</ion-text></ion-label>
    <ion-input required formControlName="password" type="text"></ion-input>
  </ion-item>
  <ion-button block color="tertiary" type="submit" [disabled]="loginForm.invalid">
    Login
  </ion-button>
</form> -->
</ion-content>
