<app-encabezado titulo="Asistencia"></app-encabezado>

<ion-content class="ion-padding">
  <ion-item>
    <ion-label>
      <h1>Matematica</h1>
      <p>Profesor: xxxxxxx-xxxxxx</p>
      <p>Aula: xxx-x</p>
    </ion-label>
  </ion-item>
  <ion-item>
    <ion-label>
      <h1>Asistencia</h1>
      <p>Porcentaje: xx%</p>
      <p>N° de clases: xx/xx</p>
    </ion-label>
  </ion-item>


  <ion-button (click)="Marcar()" class="ion-padding" shape="round" expand="block">Marcar Asistencia</ion-button>

</ion-content>


