<ion-header >
  <ion-toolbar>
    <ion-icon slot="start" name="menu" class="ion-padding" size="large" color="tertiary"></ion-icon>
    <ion-title class="ion-text-capitalize">Home</ion-title>
    <ion-icon slot="end" name="person" class="ion-padding" size="large" color="tertiary"></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-text color="primary">
    <h1>Lista de Asignaturas</h1>
  </ion-text>
 <ion-list [inset]="true" lines="inset" mode="ios">
  <ion-list-header mode="ios" color="primary" class="ion-text-center">
    <ion-label>Listado</ion-label>
  </ion-list-header>

  <ion-item button="true" *ngFor="let asignatura of asignaturas">
    {{ asignatura }}
  </ion-item>

</ion-list>

<ion-action-sheet trigger="Cuenta" backdropDismiss="false" header="Opciones de cuenta" [buttons]="actionSheetButtons" mode="ios"></ion-action-sheet>


</ion-content>
<ion-button id="Cuenta"  expand="block" fill="clear" >
  Cuenta
</ion-button>

