<app-encabezado titulo="Lista de Asignaturas"></app-encabezado>

<ion-content class="ion-padding">
 <ion-list [inset]="true" lines="inset" mode="ios">
  <ion-list-header mode="ios" color="primary" class="ion-text-center">
    <ion-label>Listado</ion-label>
  </ion-list-header>

  <ion-item button="true" *ngFor="let asignatura of asignaturas">
    {{ asignatura }}
  </ion-item>

</ion-list>

<ion-action-sheet trigger="Cuenta" backdropDismiss="false" header="Opciones de cuenta" [buttons]="actionSheetButtons" mode="ios"></ion-action-sheet>


</ion-content>
<ion-button id="Cuenta"  expand="block" fill="clear" >
  Cuenta
</ion-button>

