<app-encabezado titulo="Alumnos"></app-encabezado>


  <ion-content class="ion-padding">
    <ion-list [inset]="true" lines="inset" mode="ios">
      <ion-list-header mode="ios" color="tertiary" class="ion-text-center">
        <ion-label>Listado</ion-label>
      </ion-list-header>
      <ion-item routerLink="{{asignatura.ruta}}" detail="true" *ngFor="let asignatura of asignaturas">
        <ion-icon name="{{asignatura.icono}}" slot="start"></ion-icon>
        <ion-label>{{asignatura.etiqueta}}</ion-label>
      </ion-item>



    </ion-list>



  </ion-content>
