<app-encabezado titulo="Asistencia"></app-encabezado>

<ion-content class="ion-padding">
  <ion-item>
    <ion-label>
      <h1>{{ asignatura?.nombre }}</h1> <!-- Nombre de la asignatura -->
      <p>Profesor: {{ seccion?.profesor }}</p> <!-- Nombre del profesor -->
      <p>Aula: {{ seccion?.aula }}</p> <!-- Aula -->
    </ion-label>
  </ion-item>
  <ion-item *ngFor="let asistencia of asistenciaData">
    <ion-label>
      <h1>Asistencia</h1>
      <p>Porcentaje: {{ (asistencia.total_asistencia / seccion?.total_clases)*100}}%</p> <!-- Porcentaje de asistencia -->
      <p>N° de clases: {{ asistencia.total_asistencia }}/ {{ seccion?.total_clases }}</p> <!-- Número de clases -->
    </ion-label>
  </ion-item>

  <ion-button (click)="Marcar()" color="tertiary" class="ion-padding" shape="round" expand="block">Marcar Asistencia</ion-button>
</ion-content>