<ion-content class="ion-padding">
  <div class="ion-text-center" style="margin-top: 50px;">
    <ion-img class="ion-padding" src="../../../assets/img/logo.png" alt="Inicio"></ion-img>
  </div>
  <div class="ion-text-center" style="margin-top: 200px;">
    <ion-button (click)="Lanzamiento()" expand="block" shape="round" color="tertiary">Iniciar sesión</ion-button>
  </div>
  <div class="ion-text-center">
    <ion-button (click)="Lanzamiento2()" expand="block" shape="round" color="tertiary">Registro</ion-button>
  </div>
</ion-content>