<app-encabezado titulo="Alumnos"></app-encabezado>

<ion-content class="ion-padding" id="main-contente">
  <ion-list [inset]="true" lines="inset" mode="ios" class="scrollable-list">
    <ion-list-header mode="ios" color="primary" class="ion-text-center">
      <ion-label>Lista de Alumnos</ion-label>
    </ion-list-header>
    <ion-item *ngFor="let alumno of alumnos">
      <ion-icon name="{{alumno.icono}}" slot="start"></ion-icon>
      <ion-label>{{alumno.etiqueta}}</ion-label>
      <ion-label>{{alumno.asitencia}}%</ion-label>
    </ion-item>
  </ion-list>

  <div class="ion-padding">
    <ion-button (click)="goBack()" class="ion-padding" color="danger" shape="round" expand="block">Volver</ion-button>
  </div>
</ion-content>